<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UASPPK_3SI1_SamuelMarubaManik_34"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputDaerahActivity">
        </activity>
        <activity
            android:name=".DaftarDaerahActivity">
        </activity>
        <activity
            android:name=".TambahAnggotaActivity">
        </activity>
        <activity
            android:name=".DaftarAnggotaActivity">
        </activity>
        <activity
            android:name=".TambahKegiatanActivity">
        </activity>
        <activity
            android:name=".DaftarKegiatanActivity">
        </activity>
        <activity
            android:name=".EditDaerahActivity">
        </activity>
        <activity
            android:name=".DaerahDetailActivity">
        </activity>
        <activity
            android:name=".EditKegiatanActivity">
        </activity>
        <activity
            android:name=".EditAnggotaActivity">
        </activity>
        <activity
            android:name=".RegisterActivity">
        </activity>
        <activity
            android:name=".UserDaftarDaerahActivity">
        </activity>
        <activity
            android:name=".UserDaftarKegiatanActivity">
        </activity>
        <activity
            android:name=".UserDaftarAnggotaActivity">
        </activity>
        <activity
            android:name=".UserHomeActivity">
        </activity>
        <activity
            android:name=".HomeActivity">
        </activity>
        <activity
            android:name=".UserDaerahDetailActivity">
        </activity>
        <activity
            android:name=".ChangePasswordActivity">
        </activity>
        <activity
            android:name=".ProfileActivity">
        </activity>
        <activity
            android:name=".EditProfileActivity">
        </activity>
        <activity
            android:name=".UserProfileActivity">
        </activity>
        <activity
            android:name=".UserChangePasswordActivity">
        </activity>
        <activity
            android:name=".UserEditProfileActivity">
        </activity>

    </application>

</manifest>